h1 {
	color: red;
	text-align: center;
	font-family: "Iowan old style", serif
}
body {
	background-color: #355e3b
}
p {
	text-align: center;
	font-family: "Iowan old style", serif;
	font-size: 16px;
}